products/node_modules
products/dist
container/dist
container/node_modules
cart/dist
cart/node_modules

project1/products/node_modules
project1/products/dist
project1/container/dist
project1/container/node_modules
project1/cart/dist
project1/cart/node_modules

project2/auth/node_modules
project2/auth/dist
project2/container/dist
project2/container/node_modules
project2/dashboard/dist
project2/dashboard/node_modules
project2/marketing/dist
project2/marketing/node_modules